.chair-container {
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;

  }
  
  .chair-image {
    width: calc(33.33% - 20px); /* Adjust as needed */
    margin: 50px; /* Adjust as needed */
  }
  