.header-container {
    text-align: center;
    padding: 50px 0;
    color: #ffffff;
    background-image: url('header_background_image.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }
  
  .header-container h1,
  .header-container h3,
  .header-container h5 {
    transition: color 0.3s, font-size 0.3s; /* Smooth transition */
  }
  
  .header-container h1:hover,
  .header-container h3:hover,
  .header-container h5:hover {
    background-image: linear-gradient(to right, #2fffee, #2fffee); /* Gradient effect */
    -webkit-background-clip: text; /* Clip text to the background */
    -webkit-text-fill-color: transparent; /* Hide text fill color */
  }
  